.bordered table
{
  border-radius: var(--border-radius);
  overflow: hidden;
}

.bordered td, th {
  padding: var(--spacing-medium);
}

.bordered th:not(:first-child), td:not(:first-child) {
  text-align: center;
}

.bordered th {
  color: var(--grey-3);
  font-weight: 700;
  white-space: nowrap;
}

.bordered tr th {
  text-align: center;
}

.bordered tbody tr:nth-child(even) {
  background-color: var(--grey-1);
}
